body {
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 112, 37);
}

.form-array {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(143, 97, 6);
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-app {
    width: 400px;
    margin: 5px auto;
    background-color: rgb(143, 97, 6);
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrayList {
    display: block;
    margin: 20px auto;
}

.btn-layout {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

#picked-array {
    margin: 5px;
    padding: 5px;
}

#li-picked-array {
    margin: 0;
    padding: 0;
    list-style: none;
}